---
import Icons from './demo.html'
---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/sicoco-v3-docs/style.css">
    <link rel="stylesheet" href="/sicoco-v3-docs/demo.css">
</head>
<body>
    <Icons />
</body>
</html>